---
import { getCollection } from "astro:content";
import BaseLayout from "../../components/layout/BaseLayout.astro";
import BaseHero from "../../components/shared/BaseHero.astro";
import Container from "../../components/ui/Container.astro";
import ContentList from "../../components/shared/ContentList.astro";
import githubLogo from "../../assets/github.svg";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects" description="Stuff I did">
  <Container>
    <BaseHero title="Projects I work on" description="that are pretty cool" />
    <ContentList>
      {
        projects.map((project) => (
          <article class="project-container">
            <div class="title-row">
              <a
                href={project.data.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {project.data.title}
              </a>

              <a
                class="github-link"
                href={project.data.source}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src={githubLogo.src} width="24" height="24" alt="GitHub" />
              </a>
            </div>
            <p class="muted-text">{project.data.description}</p>
            {project.data.techs && (
              <div class="tags">
                {project.data.techs.map((tech) => (
                  <span>{tech}</span>
                ))}
              </div>
            )}
          </article>
        ))
      }
    </ContentList>
  </Container>
</BaseLayout>

<style>
  .project-container {
    margin-bottom: 1.5rem;
  }

  .github-link {
    text-decoration: none;
    color: transparent;
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    font-size: var(--text-sm);
  }

  .tags {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }

  .tags span {
    font-size: var(--text-xs);
    opacity: 0.5;
  }
</style>
