---
import ArticleCard from "../../components/ui/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../components/layout/BaseLayout.astro";
import Categories from "../../components/shared/Categories.astro";
import BaseHero from "../../components/shared/BaseHero.astro";
import Container from "../../components/ui/Container.astro";

type Gist = CollectionEntry<"gists">;

export const getStaticPaths = (async () => {
  const gists = await getCollection("gists");
  const filteredGists = gists.filter((gist: Gist) =>
    import.meta.env.PROD ? !gist.data.draft : true
  );

  const allCategories: string[] = Array.from(
    new Set(filteredGists.map((note: Gist) => note.data.category))
  );

  return allCategories.map((categoryPath) => {
    const categoryGists = filteredGists.filter(
      (note: Gist) => note.data.category === categoryPath
    );

    return {
      params: { category: categoryPath },
      props: { categoryGists, allCategories },
    };
  });
}) satisfies GetStaticPaths;

const { categoryGists, allCategories } = Astro.props;

const sortedGists = categoryGists.sort(
  (a: Gist, b: Gist) =>
    b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
);
---

<BaseLayout
  title="Gists"
  description="Short writeups and methods I want to share with you"
>
  <main>
    <Container>
      <BaseHero
        title="Gists"
        description="Smaller blog posts or code snippets"
      />
      <Categories
        categories={allCategories}
        currentPath={Astro.url.pathname}
        basePath="gists"
      />

      <div class="content-list">
        {
          sortedGists.map((gist: Gist) => (
            <ArticleCard
              title={gist.data.title}
              description={gist.data.description}
              url={`/gists/${gist.id}`}
              date={gist.data.publishedAt}
            />
          ))
        }
      </div>
    </Container>
  </main>
</BaseLayout>
